@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --foreground: #000;
  --background: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-accent: var(--color-pink-500);
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground accent-accent transition-colors duration-200;
  }
  div#root {
    @apply h-dvh;
  }
  button {
    @apply bg-foreground/20 px-4 py-2 rounded-lg shadow transition-[background-color,color,border-color] duration-200 border-3 border-transparent;
    &:not(:disabled) {
      &:hover {
        @apply bg-foreground/15 border-accent/50;
      }
      &:active {
        @apply bg-foreground/10 border-accent;
      }
    }
    &:disabled {
      @apply text-foreground/50;
    }
  }
  .input-group {
    @apply flex gap-4 items-center rounded-lg p-2 shadow border-3 border-transparent transition-[border-color] duration-200;
    &:not(:has(:disabled)) {
      &:has(:hover) {
        @apply border-accent/50;
      }
      &:has(> :active) {
        @apply border-accent;
      }
    }
    &:has(> :disabled) {
      @apply text-foreground/50;
    }
  }
  .control-group {
    @apply flex flex-wrap gap-4 items-center;
  }
  canvas {
    @apply size-full border-3 rounded-lg border-accent bg-background;
    image-rendering: pixelated;
  }
}
