@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(body.amber) {
    --accent: var(--color-amber-500);
  }
  &:has(body.blue) {
    --accent: var(--color-blue-500);
  }
  &:has(body.cyan) {
    --accent: var(--color-cyan-500);
  }
  &:has(body.emerald) {
    --accent: var(--color-emerald-500);
  }
  &:has(body.fuchsia) {
    --accent: var(--color-fuchsia-500);
  }
  &:has(body.gray) {
    --accent: var(--color-gray-500);
  }
  &:has(body.green) {
    --accent: var(--color-green-500);
  }
  &:has(body.indigo) {
    --accent: var(--color-indigo-500);
  }
  &:has(body.lime) {
    --accent: var(--color-lime-500);
  }
  &:has(body.neutral) {
    --accent: var(--color-neutral-500);
  }
  &:has(body.orange) {
    --accent: var(--color-orange-500);
  }
  /* &:has(body.pink) { */
  --accent: var(--color-pink-500);
  /* } */
  &:has(body.purple) {
    --accent: var(--color-purple-500);
  }
  &:has(body.red) {
    --accent: var(--color-red-500);
  }
  &:has(body.rose) {
    --accent: var(--color-rose-500);
  }
  &:has(body.sky) {
    --accent: var(--color-sky-500);
  }
  &:has(body.slate) {
    --accent: var(--color-slate-500);
  }
  &:has(body.stone) {
    --accent: var(--color-stone-500);
  }
  &:has(body.teal) {
    --accent: var(--color-teal-500);
  }
  &:has(body.violet) {
    --accent: var(--color-violet-500);
  }
  &:has(body.yellow) {
    --accent: var(--color-yellow-500);
  }
  &:has(body.zinc) {
    --accent: var(--color-zinc-500);
  }
}

@theme inline {
  --color-foreground: light-dark(#000, #fff);
  --color-background: light-dark(#fff, #000);
  --color-accent: var(--accent);
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground accent-accent transition-colors duration-200;
  }
  div#root {
    @apply h-dvh;
  }
  button {
    @apply bg-foreground/20 px-4 py-2 rounded-lg shadow transition-[background-color,color,border-color] duration-200 border-3 border-transparent;
    &:not(:disabled) {
      &:hover {
        @apply bg-foreground/15 border-accent/50;
      }
      &:active {
        @apply bg-foreground/10 border-accent;
      }
    }
    &:disabled {
      @apply text-foreground/50;
    }
  }
  .input-group {
    @apply flex gap-4 items-center rounded-lg p-2 shadow border-3 border-transparent transition-[border-color] duration-200;
    &:not(:has(:disabled)) {
      &:has(:hover) {
        @apply border-accent/50;
      }
      &:has(:active) {
        @apply border-accent;
      }
    }
    &:has(:disabled) {
      @apply text-foreground/50;
    }
  }
  .control-group {
    @apply flex flex-wrap gap-4 items-center;
  }
  canvas {
    @apply size-full border-3 rounded-lg border-accent bg-background;
  }
  :fullscreen canvas {
    @apply border-0;
  }
  menu {
    @apply border-3 rounded-lg border-accent bg-background;
  }
}
