/* `vite-plugin-webfont-dl` fetches and inlines this */
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import "tailwindcss";

:root {
  font-family: "Jersey 10", sans-serif;
  /* jersey 10 is very small */
  font-size-adjust: 0.6;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(body.amber) {
    --accent: var(--color-amber-500);
  }
  &:has(body.blue) {
    --accent: var(--color-blue-500);
  }
  &:has(body.cyan) {
    --accent: var(--color-cyan-500);
  }
  &:has(body.emerald) {
    --accent: var(--color-emerald-500);
  }
  &:has(body.fuchsia) {
    --accent: var(--color-fuchsia-500);
  }
  &:has(body.gray) {
    --accent: var(--color-gray-500);
  }
  &:has(body.green) {
    --accent: var(--color-green-500);
  }
  &:has(body.indigo) {
    --accent: var(--color-indigo-500);
  }
  &:has(body.lime) {
    --accent: var(--color-lime-500);
  }
  &:has(body.neutral) {
    --accent: var(--color-neutral-500);
  }
  &:has(body.orange) {
    --accent: var(--color-orange-500);
  }
  /* &:has(body.pink) { */
  --accent: var(--color-pink-500);
  /* } */
  &:has(body.purple) {
    --accent: var(--color-purple-500);
  }
  &:has(body.red) {
    --accent: var(--color-red-500);
  }
  &:has(body.rose) {
    --accent: var(--color-rose-500);
  }
  &:has(body.sky) {
    --accent: var(--color-sky-500);
  }
  &:has(body.slate) {
    --accent: var(--color-slate-500);
  }
  &:has(body.stone) {
    --accent: var(--color-stone-500);
  }
  &:has(body.teal) {
    --accent: var(--color-teal-500);
  }
  &:has(body.violet) {
    --accent: var(--color-violet-500);
  }
  &:has(body.yellow) {
    --accent: var(--color-yellow-500);
  }
  &:has(body.zinc) {
    --accent: var(--color-zinc-500);
  }
}

@theme {
  --color-foreground: light-dark(#000, #fff);
  --color-background: light-dark(#fff, #000);
}

@theme inline {
  --color-accent: var(--accent);
  /* the -300 variants don't look consistent */
  --color-label-1: light-dark(var(--color-yellow-800), hsl(from var(--color-yellow-300) h 100% 75%));
  --color-label-2: light-dark(var(--color-emerald-800), hsl(from var(--color-emerald-300) h 100% 75%));
  --color-label-3: light-dark(var(--color-cyan-800), hsl(from var(--color-cyan-300) h 100% 75%));
  --color-label-4: light-dark(var(--color-indigo-800), hsl(from var(--color-indigo-300) h 100% 80%));
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground accent-accent transition-colors duration-200 uppercase;
  }
  div#root {
    @apply h-dvh;
  }
  button {
    @apply bg-foreground/20 px-2 shadow transition-[background-color,color,border-color] duration-200 border-3 border-transparent flex flex-col items-center uppercase;
    &:not(:disabled) {
      &:hover {
        @apply bg-foreground/15 border-accent/50;
      }
      &:active {
        @apply bg-foreground/10 border-accent;
      }
      &:open,
      [open] > & {
        @apply bg-accent;
      }
    }
    &:disabled {
      @apply text-foreground/50;
    }
    & > img,
    & > svg {
      @apply size-8 md:size-6;
    }
    & > span {
      @apply w-8 max-w-8 truncate text-xs;
    }
  }
  .input-group {
    @apply flex gap-4 items-center p-2 shadow border-3 border-transparent transition-[border-color] duration-200;
    &:not(:has(:disabled)) {
      &:has(:hover) {
        @apply border-accent/50;
      }
      &:has(:active) {
        @apply border-accent;
      }
    }
    &:has(:disabled) {
      @apply text-foreground/50;
    }
  }
  .control-group {
    @apply flex flex-wrap gap-4 items-center justify-center;
  }
  canvas {
    @apply size-full border-3 border-accent bg-background;
  }
  :fullscreen canvas {
    @apply border-0;
  }
  menu {
    @apply border-3 border-accent bg-background;
  }
  select {
    @apply uppercase;
  }
  /* https://youtube.com/watch?v=AvvXZL3mKhc */
  input[type="range"] {
    appearance: unset;
    -moz-appearance: none;
    /* selecting multiple browser prefixes at once, i.e. `&::-moz-range-thumb, &::-webkit-slider-thumb` doesn't work */
    &::-moz-range-thumb {
      appearance: none;
      background-color: var(--color-accent);
      border-color: var(--color-background);
      border-radius: 0;
      border-width: 0.25em;
      height: 1em;
      width: 1em;
    }
    &::-moz-range-track {
      appearance: none;
      background-color: var(--color-accent);
      height: 0.25em;
    }
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
      appearance: none;
      /* borders don't work in chromium */
      background: linear-gradient(to right, var(--color-background) 20%, var(--color-accent) 20%, var(--color-accent) 80%, var(--color-background) 80%);
      height: 1em;
      width: 1.5em;
      /* y position is not centered in chromium */
      translate: 0 -0.35em;
    }
    &::-webkit-slider-runnable-track {
      appearance: none;
      background-color: var(--color-accent);
      height: 0.25em;
    }
  }
  option {
    @apply bg-background text-foreground;
  }
  [open="false"] [popover] {
    @apply hidden;
  }
}
