@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --foreground: #000;
  --background: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  div#root {
    @apply h-dvh;
  }
}
